body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.top-bar {
    background-color: black;
    height: 10px;
}

.header-bar {
    background-color: white;
    height: 60px; /* adjust as needed */
    line-height: 60px; /* vertically centers the text */
    text-align: left;
    padding-left: 5%; /* adjust as needed */
    font-size: 2em; /* increase this to make the text larger */
    font-weight: bold; /* adjust as needed */
    width: 100%;
    max-width: 924px; /* same as .container max-width */
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1200px; /* 924 75% of original opt.png width */
    margin: 0 auto;
}

.intro {
    justify-content: flex;
    align-items: flex-start;
    margin: 20px auto;
    width: 100%;
    font-size: 1.2em;
}

.profile {
    width: 40%;
    max-width: 240px; /* 75% of original dlosey.jpeg width */
    height: auto;
    object-fit: cover;
    border: 2px solid black; /* adds border */
    border-radius: 5%; /* slightly rounds corners */
    vertical-align: top;
}

p {
    width: 75%;
    line-height: 1.6;
    text-align: left;
    margin-left: 20px;
    vertical-align: top;
    margin-top: 0;
    padding-top: 0;
}

.first-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.second-para {
    width: 100%;
    line-height: 1.6;
    text-align: left;
}

.centered, .left, .right {
    display: block;
    margin: 20px auto;
    width: 90%; /* opt size relative to column size*/
    height: auto;
}

@media (max-width: 924px) {
    .container {
        width: 100vw;
    }
}
